*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Montserrat', sans-serif;
  /* background-image: url(../public/image/—Pngtree—private\ baked\ dessert\ shop\ fresh_1084557.jpg);
  background-repeat: no-repeat;
  object-fit: contain; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0% 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h4{
  font-size: 1rem;
  color: rgb(56,56,56);
}
h3{
  font-size: 1.5rem;
  color: rgb(56,56,56);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}
a{
  color: rgb(56,56,56);
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(../public/Material/MaterialSymbolsOutlined/material-symbols-outlined.woff2) format('woff2');
}

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  src: url(../public/Material/MaterialSymbolsRound/material-symbols-rounded.woff2) format('woff2');
}

@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  src: url(../public/Material/material-symbols-sharp.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-symbols-rounded {
  font-variation-settings:
      'wght' 300
}

.material-symbols-rounded.filled {
  font-variation-settings:
      'FILL' 1
}

.material-symbols-outlined.filled {
  font-variation-settings:
      'FILL' 1
}

.hide {
  display: none;
}

.DIVimg:hover .hide {
  display: block;
}